{template '_header'}
<style>
    .popover{
        width:170px;
        font-size:12px;
        line-height: 21px;
        color: #0d0706;
    }
    .popover span{
        color: #b9b9b9;
    }
    .nickname{
        display: inline-block;
        max-width:200px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }
    .tooltip-inner{
        border:none;
    }
</style>
<div class="page-header">当前位置：<span class="text-primary">会员申请代理区域列表</span></div>
<div class="page-content">
    {if empty($list)}
        <div class="panel panel-default">
            <div class="panel-body empty-data">未查询到相关数据</div>
        </div>
    {else}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th style="">用户名</th>
                        <th style="">等级</th>
                        <th style="">申请时间</th>
                        <th style="">状态</th>
                        <th style="">类型</th>
                        <th style="width:250px">区域</th>
                        <th style="width: 130px">拒绝理由</th>
                        <th style="width: 125px;text-align: center;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        {loop $list $row}
                        <tr>
                            <td>{$row['user']['nickname']}</td>
                            <td>{$row['levelname']}</td>
                            <td>{php echo date("Y-m-d", $row['create_time'])}</td>
                            <td>
                                {if $row['status'] == 1}
                                审核中
                                {else if $row['status'] == 2}
                                已通过
                                {else if $row['status'] == 3}
                                已拒绝
                                {/if}
                            </td>
                            <td>
                                {if $row['type'] == 1}
                                区级
                                {else if $row['type'] == 2}
                                市级
                                {else if $row['type'] == 3}
                                省级
                                {/if}
                            </td>
                            <td>
                                {if $row['type'] == 1}
                                    {$row['area']}
                                {else if $row['type'] == 2}
                                    {$row['city']}
                                {else if $row['type'] == 3}
                                    {$row['province']}
                                {/if}
                            </td>
                            <td>
                                {if $row['status'] == 1}
                                <input type="text" id="reject_id{$row['id']}" value="" placeholder="如拒绝申请，填写理由">
                                {else}
                                {$row['reason']}
                                {/if}
                            </td>
                            <td style="overflow:visible;text-align: center;">
                                <div class="btn-group">
                                    {ifp 'member.list.edit'}
                                        {if $row['status'] == 1}
                                        <a class="btn  btn-op btn-operation" href="javascript:success_apply({$row['id']})" data-confirm="确定要通过该审核吗？">
                                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title="通过审核" >
                                                <i class='icow icow-bianji2'></i>
                                            </span>
                                        </a>
                                        <a class="btn btn-op btn-operation" href="javascript:reject_apply({$row['id']})" data-confirm="确定要拒绝该审核吗？">
                                                 <span data-toggle="tooltip" data-placement="top" title="" data-original-title="拒绝审核">
                                                   <i class='icow icow-shanchu1'></i>
                                                </span>
                                        </a>
                                        {/if}
                                    {/if}
                                </div>
                            </td>
                        </tr>
                        {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    {/if}
</div>
{$pager}
<script language="javascript">
    {if $opencommission}
    require(['bootstrap'], function () {
        $("[rel=pop]").popover({
            trigger: 'manual',
            placement: 'right',
            title: $(this).data('title'),
            html: 'true',
            content: $(this).data('content'),
            animation: false
        }).on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(this).siblings(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
                if (!$(".popover:hover").length) {
                    $(_this).popover("hide")
                }
            }, 100);
        });
    });
    {/if}


    function success_apply(id) {
        if (confirm("确定要通过该审核吗？")) {
            $.post("{php echo webUrl('member/areaRegister/successApply')}", {id:id}, function (res) {
                if (res.status == 1) {
                    tip.msgbox.suc("操作成功");
                } else {
                    tip.msgbox.err(res.result.message);
                }
                setInterval(function () {
                    window.location.reload();
                }, 2000);
            }, 'json');
        }
    }

    function reject_apply(id) {
        if (confirm("确定要拒绝该审核吗？")) {
            var reason = $("#reject_id"+id).val();
            $.post("{php echo webUrl('member/areaRegister/rejectApply')}", {id:id,reason:reason}, function (res) {
                if (res.status == 1) {
                    tip.msgbox.suc("操作成功");
                } else {
                    tip.msgbox.error(res.result.message);
                }
                setInterval(function () {
                    window.location.reload();
                }, 2000);
            }, 'json');
        }
    }
</script>
{template '_footer'}